.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 110, 233, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(215, 227, 240);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 18%;
    padding-top: 3px;
}

.header {
    height: 40px;
    line-height: 20px;
    padding-inline: 20px;
}

.icon {
    padding-top: 0px;
}

.footer {
    text-align: center;
    font-size: 15px;
}

#enterButton {
    width: 600px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #888;
}

.title {
    width: 800px;
    color: white;
    padding: auto;
    text-align: center;
    height: 40px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}

.signup-form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.display-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery {
    text-align: center;
}

.main-image {
    width: 400px;
    height: 300px;
}

.thumbnail-images {
    display: flex;
}

.thumbnail-image {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.container-body-cd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CCFFFF;
}

.input-number {
    width: 150px;
    height: auto;
    margin: 0px 20px;
}

.display-center {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}