.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.display-content {
    display: flex;
    width: fit-content;
}

.image-gallery {
    text-align: center;
}

.main-image {
    width: 400px;
    height: 300px;
}

.thumbnail-images {
    display: flex;
}

.thumbnail-image {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}