.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 110, 233, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(215, 227, 240);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 18%;
    padding-top: 3px;
}

.header {
    height: 40px;
    line-height: 20px;
    padding-inline: 20px;
}

.icon {
    padding-top: 0px;
}

.footer {
    text-align: center;
    font-size: 15px;
}

#enterButton {
    width: 700px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #888;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}